<?xml version="1.0" encoding="UTF-8"?>
<events>
	<event title="Test Event">
		<tickets>
			<ticket price="10" title="Standard"/>
			<ticket price="20" title="Media"/>
		</tickets>
		<transports>
			<transport type="Bike" type_2="Car" color="Green" color_2="Red" />
			<transport type="Plane" type_2="Boat" color="Black" color_2="Green" />
			<transport type="Car" type_2="Bike" color="Red" color_2="Black" />	
		</transports>
		<location>Hanoi, Vietnam</location>
		<date>2020-03-16</date>
		<description>This is the test event 1</description>
		<image>http://localhost:8888/metabox/wp-content/uploads/2020/04/logo-laodongthudo.png</image>
		<image>http://localhost:8888/metabox/wp-content/uploads/2020/04/ezgif-2-5528a28b27fa.png</image>
	</event>
	<event title="Test Event 2">
		<tickets>
			<ticket price="100" title="Standard"/>
			<ticket price="200" title="Media"/>
			<ticket price="30" title="Premium"/>
			<ticket price="40" title="Advance"/>
		</tickets>
		<transports>
			<transport type="Bike" type_2="Car" color="Green" color_2="Red" />
			<transport type="Plane" type_2="Boat" color="Black" color_2="Red" />
			<transport type="Car" type_2="Bike" color="Green" color_2="Black" />	
			<transport type="Boat" type_2="Plane" color="Red" color_2="Black" />	
		</transports>
		<location>HCMC, Vietnam</location>
		<date>2020-09-16</date>
		<description>This is the test event 1</description>
		<image>http://localhost:8888/metabox/wp-content/uploads/2020/04/ezgif-2-5528a28b27fa.png</image>
		<image>http://localhost:8888/metabox/wp-content/uploads/2020/04/ezgif-2-5528a28b27fa.png</image>
		<image>http://localhost:8888/metabox/wp-content/uploads/2020/04/ezgif-2-5528a28b27fa.png</image>
		<image>http://localhost:8888/metabox/wp-content/uploads/2020/04/ezgif-2-5528a28b27fa.png</image>
	</event>
</events>